<button (click)="makePDF()">Download</button>
  <br>
  <div id="content" #content>
  <h3> User Information </h3>
  <samp> Basic Information </samp>
  <img src="../assets/image/Tech Truckers-03.png" alt="Tech">
  <br><br>

  <table #dataTable id="customers" cellpadding="0" cellspacing="0" >
    <thead>
            <tr>
                <th> User Name </th>
                <th> Company </th> 
                <th> user type </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Manuel Lopez </td>
                <td> Big Wings LLC </td>
                <td> Dispatcher </td>
                <td> manuel.mw@gmail.com </td>
            </tr>
            <tr>
              <th> City </th>
              <th> State </th>
              <th> Postal Code </th>
              <th> Status </th>
            </tr>
            <tr>
              <td> Kurtha </td>
              <td> Bihar </td>
              <td> 804421 </td>
              <td> Active </td>
            </tr>
            <tr>
              <th> Cell Phone </th>
              <th> DOB </th>
              <th> Date of Hire </th>
              <th> License No </th>
            </tr>
            <tr>
              <td> 7178341524 </td>
              <td> 12/27/1977 </td>
              <td> 12/27/2021 </td>
              <td> W123 </td>
            </tr>
            <tr>
             <th> Last Medical </th>
             <th> Next Medical </th>
             <th> Pre Drug Test </th>
             <th> Random Drug Test </th>
            </tr>
           <tr>
             <td> 12/01/2021 </td>
             <td> 12/06/2021 </td>
             <td> 12/20/2021 </td>
             <td>  </td>
           </tr>
           <tr>
             <th> Passport Expiry </th>
             <th> Fast Card Expiry </th>
             <th> Hazmat Expiry </th>
             <th> Termination Date </th>
           </tr>
           <tr>
             <td> 11/3/2050 </td>
             <td>  </td>
             <td>  </td>
             <td>  </td>
           </tr>
           <tr>
             <th>Internal Notes: </th>
             <th colspan="3">      </th>
           </tr>
      </tbody>
    </table>
</div>

